<!doctype html>
<html>

<head>
<title>{% if lang!="fr" %}DATAVIZ APPLICATION SERVER{% else %}SERVEUR APPLICATIF DE DATAVIZ{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<link href="./static/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="./static/lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<style>
        .carousel-indicators li {
            filter: invert(100%);
        }
        .carousel-control-prev, .carousel-control-next {
            filter: invert(100%);
        }
        .carousel-caption {
            background-color: white;
            color: black;
            opacity: 0.9;
        }
</style>

</head>

<body>
