<!doctype html>
<html>

<head>
<title>SERVEUR APPLICATIF DE DATAVIZ</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<link href="./static/lib/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<center>
<img src=./static/themis.svg>
<ul class="list-group">
<li class="list-group-item">Vous recueillez des jeux de données et vous en avez marre d'excel</li>
<li class="list-group-item">Vous connaissez Grafana qui est la référence dans le domaine mais qui n'est pas simple à apprivoiser et demande un certain investissement</li>
<li class="list-group-item">Vous n'êtes pas sur de vouloir développer vos scripts de dataviz sous python</li>
</ul>

<br><br>Vous pouvez lancer votre application de dataviz ici :
<br><br><a href=./start>START APP</a>

<br><br><b>DATASETS DISPONIBLES :</b>
<br><a target=_blank href=./static/emoncms-bloch-2021.tar.gz>collège Marc Bloch</a>
<br><a target=_blank href=./static/emoncms-siegecerema-summer2021.tar.gz>siège cerema - confort d'été</a>
<br><a target=_blank href=./static/emoncms-siegecerema-2021-2022.tar.gz>siège cerema - juin 2021 à février 2022</a>
</center>
<script src="./static/lib/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
