{% include 'head.html' %}

<center>
<img src=./static/themis.svg>

<ul class="list-group">
{% if lang!="fr" %}
    <li class="list-group-item">
        You collect data sets and you've heard about Grafana, 
        but it's not easy to learn and requires a significant investment
    </li>
    <li class="list-group-item">
        You don't want to develop your own python scripts</li>
    <li class="list-group-item"><b>LAUNCH YOUR DATAVIZ APPLICATION HERE !</b></li>
{% else %}
    <li class="list-group-item">
        Vous recueillez des jeux de données et 
        vous en avez marre d'excel et des fichiers csv non synchronisés</li>
    <li class="list-group-item">
        Vous connaissez Grafana qui est la référence dans le domaine 
        mais n'est pas simple à apprivoiser et demande un certain investissement
    </li>
    <li class="list-group-item">Vous n'êtes pas sur de vouloir développer des scripts élaborés de dataviz sous python</li>
    <li class="list-group-item"><b>LANCEZ ICI VOTRE APPLICATION DE DATAVIZ !</b></li>
{% endif %}
</ul>

<br>
<button id="create" class="btn btn-warning">
    {% if lang!="fr" %}generate access token{% else %}génerer votre code d'accès{% endif %}
</button>
<div id=loading><img src=./static/loading.gif></div>
<div id="open"></div>
<div id="delete">
    {% if lang!="fr" %}Everything is free so please {% else %}Tout ceci est gratuit alors merci de {% endif %}
    <button id="delete_button" class="btn btn-danger">
        {% if lang!="fr" %}DELETE APP{% else %}SUPPRIMER L'APP{% endif %}
    </button>
    {% if lang!="fr" %} when you dont need anymore{% else %} quant vous n'en avez plus besoin{% endif %}
</div> 

<div>
<br><br><b>{% if lang!="fr" %}AVAILABLE DATASETS{% else %}DATASETS DISPONIBLES{% endif %} :</b>
<br><a target=_blank href=./static/ACF_hiver2022_23.tar.gz>bâtiment agence Clermont-Ferrand 2022 à 2023</a>
<br><a target=_blank href=./static/emoncms-bloch-2021.tar.gz>collège Marc Bloch</a>
<br><a target=_blank href=./static/emoncms-siegecerema-summer2021.tar.gz>siège cerema - confort d'été</a>
<br><a target=_blank href=./static/emoncms-siegecerema-2021-2022.tar.gz>siège cerema - juin 2021 à février 2022</a>
<br>
{% if lang=="fr" %}
    ATTENTION LES DATAS SONT VIEILLES, IL VOUS FAUDRA REMONTER DANS LE TEMPS 
    mais les graphes préenregistrés vous permettront de cibler automatiquement la plage de données disponible.
{% else %}
    DATAS ARE OLD, YOU'LL HAVE TO GO BACK IN TIME, 
    but pre-recorded graphs will automatically target the available time range.
{% endif %}
</div>

<div id="carouselhelp" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./static/register.png" alt="register">
      <div class="carousel-caption d-none d-md-block">
          <h5><b>
              {% if lang=="fr" %}
                  étape 1 : créer un compte
              {% else %}
                  step 1 : create an account{% endif %}
          </b></h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./static/import_backup_1.png" alt="backup1">
      <div class="carousel-caption d-none d-md-block">
          <h5><b>
              {% if lang=="fr" %}
                  étape 2 : injectez l'archive en allant dans le module backup et dans l'onglet "import archive"
              {% else %}
                  step 2 : restore the archive via backup > import archive
              {% endif %}
          </b></h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./static/graph.png" alt="graph">
      <div class="carousel-caption d-none d-md-block">
          <h5><b>
              {% if lang=="fr" %}
                  étape 3 : aller dans le module graph et sélectionner un graphique à visionner
              {% else %}
                  step 3: go to the graph module and select a prerecorded graph
              {% endif %}
          </b></h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" data-bs-target="#carouselhelp" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" data-bs-target="#carouselhelp" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

</center>

<script>

var lang = {% if lang=="fr" %}"fr"{% else %}"en"{% endif %};

document.querySelector('#loading').style.display = 'none';
document.querySelector('#delete').style.display = 'none';

function getCookie(name) {
    // cf https://stackoverflow.com/questions/10730362/get-cookie-by-name/15724300#15724300
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}

function delay(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function createApp() {
    //start a new container, set reverse proxy & cookie
    let response = await fetch('./start');
    if (response.ok) {
        let data = await response.json();
        console.log(data);
        await delay(5000);
        showAppLinkNDelButton(data);
    }
}

async function deleteApp(del_route) {
    //follow the del_route to delete the app
    let response = await fetch(del_route);
    if (response.ok) {
        let data = await response.text();
        console.log(data);
        document.querySelector('#loading').style.display = 'none';
        document.querySelector('#create').style.display = '';
    }
}

function showAppLinkNDelButton(data) {
    var open_label="OPEN APP";
    var token_txt="Your access token is "+data["token"];
    if (lang==="fr") {
        open_label="OUVRIR L'APP";
        token_txt="Votre code est "+data["token"];
    }
    var link = "<br>"+token_txt+"<br>";
    link += "<a href="+data["app_url"]+" target=_blank>"+open_label+"</a><br><br>";
    document.querySelector('#open').innerHTML = link;
    document.querySelector('#loading').style.display = 'none';
    document.querySelector('#delete').style.display = '';
    document.querySelector('#delete_button').value = './delete/'+data["port"]+'/'+data["token"];
}

async function checkExistence(token, app_url) {
    let response = await fetch("check/"+token);
    console.log(response);
    if (response.ok) {
        let answer = await response.text();
        console.log(answer);
        if (answer.includes("error")) {
            document.querySelector('#create').style.display = '';
        } else {
            console.log("app exist");
            document.querySelector('#create').style.display = 'none';
            var data = {};
            data["token"] = token;
            data["port"] = port;
            data["app_url"] = app_url;
            console.log(data);
            showAppLinkNDelButton(data);
        }
    }
}

if (document.cookie.includes("emoncms_token")) {
    if (document.cookie.includes("port")) {
        var token = getCookie("emoncms_token");
        var port = getCookie("port");
        if (document.cookie.includes("app_url")) {
            var app_url = getCookie("app_url");
            checkExistence(token, app_url);
        }
    }
}

document.querySelector('#create').addEventListener('click', function(){
    document.querySelector('#open').innerHTML = "";
    document.querySelector('#create').style.display = 'none';
    document.querySelector('#loading').style.display = '';
    createApp();
});

document.querySelector('#delete_button').addEventListener('click', function() {
    document.querySelector('#delete').style.display = 'none';
    document.querySelector('#loading').style.display = '';
    document.querySelector('#open').innerHTML = "";
    var del_route = document.querySelector('#delete_button').value;
    console.log(del_route);
    deleteApp(del_route);
});

</script>

{% include 'bottom.html' %}
