{% include 'head.html' %}

<br>
{% if lang=="fr" %}
    1) Commencez par télécharger un ou plusieurs jeu de données :
{% else %}
    1) Download a dataset :
{% endif %}
<br><a target=_blank href=./static/emoncms-bloch-2021.tar.gz>collège Marc Bloch</a>
<br><a target=_blank href=./static/emoncms-siegecerema-summer2021.tar.gz>siège cerema - confort d'été</a>
<br><a target=_blank href=./static/emoncms-siegecerema-2021-2022.tar.gz>siège cerema - juin 2021 à février 2022</a>
<br>
<br>
{% if lang=="fr" %}
    2) Ouvrez ensuite l'application, créez vous un compte
    , injectez l'archive en allant dans backup > import archive, puis allez dans le module graph pour les visualiser
    <br> ATTENTION LES DATAS SONT VIEILLES, IL VOUS FAUDRA REMONTER DANS LE TEMPS 
    mais les graphes préenregistrés vous permettront de cibler automatiquement la plage de données disponible.
{% else %}
    2) Launch the app, create an account, inject the archive through backup > import archive, then go to the graph module.
    <br>DATAS ARE OLD, YOU'LL HAVE TO GO BACK IN TIME, 
    but pre-recorded graphs will allow you to automatically target the available data range.
{% endif %}
{% if app_url %}
    <br><a target=_blank href={{app_url}}>{% if lang=="fr" %}ouvrir app{% else %}open app{% endif %}</a><br>
{% endif %}

{% if del_route %}
    <br>
    {% if lang=="fr" %}
        3) Tout ceci est gratuit alors éteignez l'application avant de partir
    {% else %}
        3) Everything is free so please delete the app before leaving
    {% endif %}
    <br><a href={{del_route}}>{% if lang=="fr" %}supprimer app{% else %}delete app{% endif %}</a>
{% endif %}

<br>
<br>
{% if lang=="fr" %}
    Si vous voulez un accès persistant, contactez nous !
{% else %}
    If you want a persistant access, get in touch !
{% endif %}

{% if del_route %}
    <br><script type="text/javascript">window.onbeforeunload = () => fetch({{del_route}});</script>
{% endif %}

<br><img class=img-fluid src=./static/register.png>
<br><img class=img-fluid src=./static/import_backup.png>
<br><img class=img-fluid src=./static/graph.png>

{% include 'bottom.html' %}
